.b-container button{
	margin: 1em;
}

.b-container{
    width:50%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size:30px;
    position: absolute;
}
.b-popup{
    width:50%;
    min-height:50%;
    background-color: #f7c1c7;
    overflow:hidden;
    position:fixed;
    top:2em;
    margin-left: 25%;
    margin-right: 25%;}
.b-popup .b-popup-content{
    display: block;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
}
h1{
	text-align: center;
}
img{
	width: 2em;
	float: right;
	margin-top: 0px;
	
}
form button{
	margin-bottom: 1em;
	float: right;
}
@media screen and (max-width: 800px) {
	.b-popup{
	    width:100vw;
	    height: 100vh;
	    margin-left: 0%;
        margin-right:0%;
        top: 0px;
    }

    h1{
        text-align: left;
    }
  
}
